<part-page-header title="vm.title"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <form name="productEdit" class="form-horizontal" notify-changes-unsaved wassaved="vm.dataWasSaved">

                        <div class="row" data-ng-show="vm.errors.length"><div class="col-md-8">
                            <div class="text-danger m-t-md m-b-md">{{vm.errors}}</div>
                        </div></div>

                        <uib-tabset active="activePill" vertical="false" type="tabs">
                            <uib-tab index="0" heading="Product Info">
                                <div class="m-t-md">
                                    <div class="row"><div class="col-md-8">

                                        <div class="form-group"><label class="col-sm-3 control-label">Name</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.product.name" required></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Caption</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.product.caption" required></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Categories (at least 1):</label></div>

                                        <div class="form-group"><div class="col-sm-12"><multiselect-searchtree data-input-model="vm.categoriesData" multi-select="true"
                                                                                          data-output-model="vm.productCategories" data-callback="vm.MultiSelectTreeCallback(item, selectedItems)"
                                                                                          data-select-only-leafs="false" extra-buttons="true" filter-type="hidden"></multiselect-searchtree></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Price (min 0.2)</label>

                                            <div class="col-sm-9"><input type="number" class="form-control" data-ng-min="0.2" data-ng-model="vm.product.price" required></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">In Our Opinion</label>

                                            <div class="col-sm-9"><textarea class="form-control" data-ng-model="vm.product.opinion"></textarea></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Description (not more that 1000 characters)</label>

                                            <div class="col-sm-9"><textarea class="form-control" ng-maxlength="1000" data-ng-model="vm.product.description" required></textarea></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Meta Tag Title</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.product.metaTagTitle"></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Meta Tag Description</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.product.metaTagDescription"></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Meta Tag Keywords</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.product.metaTagKeywords"></div>
                                        </div>

                                    </div></div>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="Data">
                                <div class="m-t-md">
                                    <div class="row"><div class="col-md-8">

                                        <div class="form-group" data-ng-if="!vm.addnew"><label class="col-sm-3 control-label">ID</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.product.id" disabled></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Model</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.product.model" ></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Location</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.product.location" ></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Tac Class</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.product.taxClass" ></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Quantity</label>

                                            <div class="col-sm-9"><input type="number" class="form-control" data-ng-min="vm.product.minQuantity" data-ng-model="vm.product.quantity" required></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Minimum Quantity</label>

                                            <div class="col-sm-9"><input type="number" class="form-control" data-ng-min="0" data-ng-model="vm.product.minQuantity" required></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Sort Order</label>

                                            <div class="col-sm-9"><input type="number" class="form-control" data-ng-min="0" data-ng-model="vm.product.sortOrder" required></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Status (active if checked)</label>

                                            <div class="col-sm-9"><div class="m-t"><input type="checkbox" data-ng-model="vm.product.active"></div></div>
                                        </div>

                                    </div></div>
                                </div>
                            </uib-tab>

                            <!--<uib-tab index="2" heading="Discount">-->
                                <!--<div class="m-t-md">-->
                                    <!--<div class="row"><div class="col-md-8">-->
                                        <!--Discount-->
                                    <!--</div></div>-->
                                <!--</div>-->
                            <!--</uib-tab>-->

                            <uib-tab index="3" heading="Images">
                                <div class="m-t-md">
                                    <div class="row"><div class="col-md-8">
                                        <table class="table table-striped table-hover dataTables-example" >
                                            <thead>
                                            <tr>
                                                <!--<th><input type="checkbox" id="checkbox1"></th>-->
                                                <th>Image preview</th>
                                                <th>Image url</th>
                                                <th>Sort order</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-ng-repeat="image in vm.imagesToShow">
                                                <td><img border="0" align="" width="100" height="100" style="width:100px; height: auto;" data-ng-src="{{image.url}}" /></td>
                                                <td><input type="text" data-ng-model="image.url" class="form-control" disabled/></td>
                                                <td><input type="number" data-ng-model="image.index" class="form-control" /></td>
                                                <td><button class="btn btn-white" type="button" data-ng-click="vm.removeImage($index)"><i class="fa fa-trash" /></button></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <div class="form-group" data-ng-show="vm.showTempImage">
                                            <div class="col-sm-6">
                                                <input type="file" class="form-control" ng-model-instant id="fileToUpload" onchange="angular.element(this).scope().setFile(this)" />
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <button class="btn btn-white" type="button" data-ng-click="vm.uploadImage()" data-ng-disabled="vm.uploading">Upload image <i class="fa fa-spinner fa-spin" data-ng-show="vm.uploading"></i></button><button class="btn btn-white" type="button" data-ng-click="vm.showTempImage = false; vm.uploading = false;">Cancel</button>
                                            </div>
                                        </div>

                                        <div class="form-group" data-ng-hide="vm.showTempImage">
                                            <div class="col-sm-12 text-right">
                                                <button class="btn btn-white" type="button" data-ng-click="vm.showTempImage = true; vm.uploading = false;">Add image</button>
                                            </div>
                                        </div>
                                    </div></div>
                                </div>
                            </uib-tab>

                        </uib-tabset>

                        <div class="hr-line-dashed"></div>

                        <div class="row"><div class="col-md-8">

                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                                    <button class="btn btn-primary" type="button" data-ng-click="vm.save()" data-ng-disabled="productEdit.$invalid || vm.productCategories.length === 0 || vm.saving">Save Changes <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                                </div>
                            </div>

                        </div></div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
