<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name"><img src="assets/SpeedSpa-Logo.png" /></h1>

        </div>
        <form class="m-t" role="form">
            <h3>Login with email:</h3>
            <div data-ng-show="vm.errors.length"><h3><span class="text-danger">{{vm.errors}}</span></h3></div>
            <div class="form-group">
                <input type="email" data-ng-model="vm.emailLoginInfo.email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" data-ng-model="vm.emailLoginInfo.password" class="form-control" placeholder="Password" required>
            </div>
            <button class="btn btn-primary block full-width m-b" data-ng-click="vm.emailLogin()">Login</button>
        </form>
    </div>
</div>