<div class="m-t-md">
    <div class="row"><div class="col-md-12">
        <div class="row" data-ng-repeat="card in vm.cards">
            <div class="col-sm-4 col-sm-push-8 col-xs-12 text-right">
                <div data-ng-class="{'m-t-md': $index>0}">
                    <a class="btn btn-xs btn-primary" type="button" data-ng-click="vm.edit(card)">Edit</a>
                    <a delete-item-button
                       item="{id:card.id,userId:vm.clientId}"
                       items="vm.cards"
                       item-type="card"
                       item-name="('**** **** **** '+card.last4)"
                       item-callback="vm.delete" class="btn btn-xs btn-danger" type="button">Remove</a>
                </div>
            </div>
            <div class="col-sm-8 col-sm-pull-4 col-xs-12">
                <div class="client-card" data-ng-class="{'m-t-md': $index>0}">
                    <div class="icon"><i class="fa" data-ng-class="{'fa-cc-visa':card.brand=='Visa', 'fa-cc-mastercard':card.brand=='Mastercard'}"></i></div>
                    <div class="number">**** **** **** {{card.last4}}</div>
                    <div class="expired"><strong>Expiry Date:</strong> {{card.exp_month}}/{{card.exp_year}}</div>
                    <div class="name"><strong>Name:</strong> {{card.name}}</div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="edit-card" id="edit-card" data-ng-hide="vm.addnew == true">

                <h3 class="add-payment-method">Edit Payment Method</h3>

                <div class="col-md-8">

                    <div class="form-group"><label class="control-label">CARD NUMBER: **** **** **** {{vm.card.last4}}</label>
                    </div>

                    <div class="form-group"><label class="control-label">CARD EXPIRED DATE</label>

                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{'MM/yyyy'}}" ng-model="vm.card.date" is-open="vm.popupDateTime.opened" datepicker-options="vm.popupDateTime.dateOptions" close-text="Close" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                        </div>
                    </div>

                    <div class="m-t-md clear"><div class="form-group"><label class="control-label">NAME OF CARD</label>

                        <div><input type="text" class="form-control" data-ng-model="vm.card.name" placeholder="NAME AND SURNAME" /></div>
                    </div></div>

                    <div class="m-t-md clear"><div class="form-group">
                        <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                        <button class="btn btn-primary" type="button" data-ng-click="vm.save()" data-ng-disabled="vm.saving">Save Payment Method <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                    </div></div>

                </div>
            </div>

            <div class="add-new-card" data-ng-show="vm.addnew == true">

                <h3 class="add-payment-method">Add Payment Method</h3>

                <div class="row" data-ng-show="vm.errors.length"><div class="col-md-8">
                    <div class="text-danger m-t-md m-b-md">{{vm.errors}}</div>
                </div></div>

                <div class="col-md-8">

                    <div class="clear"><div class="form-group"><label class="control-label">CARD DETAILS</label>

                        <div><div id="card-element"></div></div>
                    </div></div>

                    <div class="m-t-md clear"><div class="form-group"><label class="control-label">NAME OF CARD</label>

                        <div><input type="text" class="form-control" data-ng-model="vm.cardOwner" placeholder="NAME AND SURNAME" /></div>
                    </div></div>

                    <div class="m-t-md clear"><div class="form-group">
                        <button class="btn btn-primary" type="button" data-ng-click="vm.add()" data-ng-disabled="vm.saving">Add Payment Method <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                    </div></div>

                </div>

            </div>

        </div>

    </div></div>
</div>