<part-page-header title="'Orders'" buttons="vm.buttons"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label>Date Range</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{'yyyy-MM-dd'}}" ng-model="vm.searchQuery.dateAppointment" is-open="vm.popupDateAppointment.opened" datepicker-options="vm.popupDateAppointment.dateOptions" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.openDateAppointment()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label>Staff</label>
                                    <select ui-select2
                                            data-placeholder="Staff"
                                            data-ng-model="vm.searchQuery.staff"
                                            id="staffSelect2"
                                            style="width: 100%;" name="staff">
                                        <option value=""></option>
                                        <option data-ng-value="staff.id" data-ng-repeat="staff in vm.staff">{{staff.firstName+' '+staff.lastName}}</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control"
                                            data-ng-options="status.status as status.name for status in vm.statuses"
                                            data-ng-model="vm.searchQuery.status">
                                        <option value="">Status</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-12 text-right"><div class="form-group">
                                <div><label>&nbsp;</label></div>

                                <button class="btn btn-info" type="button" data-ng-click="vm.reset()">Reset</button>
                                <button class="btn btn-primary" type="submit" data-ng-click="vm.search()">Search</button>

                            </div></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="ibox float-e-margins">

                <!--<div class="ibox-content">-->
                    <!--<form role="form" class="form-inline">-->

                        <!--<div class="form-group">-->
                            <!--<select id="exampleInputPassword2" class="form-control" name="account">-->
                                <!--<option>option 1</option>-->
                                <!--<option>option 2</option>-->
                                <!--<option>option 3</option>-->
                                <!--<option>option 4</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<button class="btn btn-gray" type="submit">Apply</button>-->

                    <!--</form>-->
                <!--</div>-->

                <div class="ibox-content">

                    <table class="table table-striped table-hover dataTables-example" >
                        <thead>
                        <tr>
                            <!--<th><input type="checkbox" id="checkbox1"></th>-->
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'appTimeStart'
                                }"
                                data-ng-click="vm.order('appTimeStart')">Date/Time</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'clientName'
                                }"
                                data-ng-click="vm.order('clientName')">Customer</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'staff'
                                }"
                                data-ng-click="vm.order('staff')">Staff</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'category'
                                }"
                                data-ng-click="vm.order('category')">Category</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'items[0].description'
                                }"
                                data-ng-click="vm.order('items[0].description')">Services</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'amount'
                                }"
                                data-ng-click="vm.order('amount')">Price</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'tip.amount'
                                }"
                                data-ng-click="vm.order('tip.amount')">Tip</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'total'
                                }"
                                data-ng-click="vm.order('total')">Total</th>
                            <!--<th data-ng-class="{-->
                                    <!--'sorting_desc': vm.orderby.desc,-->
                                    <!--'sorting_asc': !vm.orderby.desc,-->
                                    <!--'sorting': vm.orderby.field != 'order.items[0].description'-->
                                <!--}"-->
                                <!--data-ng-click="vm.order('order.items[0].description')">Services</th>-->
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'status'
                                }"
                                data-ng-click="vm.order('status')">Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr class="gradeX" ng-repeat="order in vm.filteredOrders">
                            <!--<td><input type="checkbox" id="checkbox1"></td>-->
                            <td>{{order.appTimeStart | date:'MMM d, yyyy h:mma' }}</td>
                            <td>{{order.clientName}}</td>
                            <td>{{order.staff}}</td>
                            <td>{{order.category}}</td>
                            <td><span data-ng-repeat="service in order.items"><span data-ng-show="$index>0">, </span>{{service.description}}</span></td>
                            <td>{{ (order.amount/100) | currency : '$'}}</td>
                            <td>{{ (order.tip.amount/100) | currency : '$'}}</td>
                            <td>{{ (order.total/100) | currency : '$'}}</td>
                            <!--<td><span data-ng-repeat="service in order.items"><span data-ng-show="$index>0">, </span>{{service.description}}</span></td>-->
                            <td>
                                <span class="btn btn-xs btn-primary" data-ng-class="{'btn-success':order.status=='paid','btn-primary':order.status=='created'}">{{order.status}}</span>
                            </td>
                            <td class="center">
                                <div style="position: relative">
                                    <button data-toggle="dropdown" class="btn btn-xs btn-gray dropdown-toggle" type="button">Action <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a ui-sref="index.services.orders.view({orderId: order.id})">View/Edit</a></li>
                                        <li><a delete-item-button
                                               item="order"
                                               items="vm.orders"
                                               item-type="order"
                                               item-name="order.id"
                                               item-callback="vm.delete"
                                                >Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!--<td><input type="checkbox" id="checkbox1"></td>-->
                            <td colspan="5"><strong>Summary:</strong></td>
                            <td><strong>{{ (vm.summary('amount')/100) | currency : '$'}}</strong></td>
                            <td><strong>{{ (vm.summary('tip.amount')/100) | currency : '$'}}</strong></td>
                            <td><strong>{{ (vm.summary('total')/100) | currency : '$'}}</strong></td>
                            <!--<td><span data-ng-repeat="service in order.items"><span data-ng-show="$index>0">, </span>{{service.description}}</span></td>-->
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>