<part-page-header title="'Products'" buttons="vm.buttons"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-8">

                                <div class="form-group">
                                    <label>Search</label>
                                    <input type="text"
                                           placeholder="Search by name"
                                           class="form-control"
                                           data-ng-model="vm.searchQuery.text">
                                </div>

                            </div>

                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label>Status</label>
                                    <select data-ng-model="vm.searchQuery.status" class="form-control" name="status">
                                        <option value="">All</option>
                                        <option data-ng-value="'active'">Active</option>
                                        <option data-ng-value="'inactive'">Inactive</option>
                                    </select>
                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label>&nbsp</label>
                                    <select data-ng-model="vm.searchQuery.pricecondition" class="form-control">
                                        <option value="more">More than</option>
                                        <option value="less">Less than</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-sm-2">

                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="text"
                                           placeholder="Price in $"
                                           class="form-control"
                                           data-ng-model="vm.searchQuery.price">
                                </div>

                            </div>
                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label>&nbsp</label>
                                    <select data-ng-model="vm.searchQuery.quantitycondition" class="form-control">
                                        <option value="more">More than</option>
                                        <option value="less">Less than</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-sm-2">

                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input type="text"
                                           placeholder="Quantity"
                                           class="form-control"
                                           data-ng-model="vm.searchQuery.quantity">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-right"><div class="form-group">
                                <div><label>&nbsp;</label></div>

                                <button class="btn btn-info" type="button" data-ng-click="vm.reset()">Reset</button>
                                <button class="btn btn-primary" type="submit" data-ng-click="vm.search()">Search</button>

                            </div></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="ibox float-e-margins">

                <!--<div class="ibox-content">-->
                    <!--<form role="form" class="form-inline">-->

                        <!--<div class="form-group">-->
                            <!--<select id="exampleInputPassword2" class="form-control" name="account">-->
                                <!--<option>option 1</option>-->
                                <!--<option>option 2</option>-->
                                <!--<option>option 3</option>-->
                                <!--<option>option 4</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<button class="btn btn-gray" type="submit">Apply</button>-->

                    <!--</form>-->
                <!--</div>-->

                <div class="ibox-content">

                    <table class="table table-striped table-hover dataTables-example" >
                        <thead>
                        <tr>
                            <!--<th><input type="checkbox" id="checkbox1"></th>-->
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'name'
                                }"
                                data-ng-click="vm.order('name')">Product Name</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'type'
                                }"
                                data-ng-click="vm.order('type')">Model</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'price'
                                }"
                                data-ng-click="vm.order('price')">Price</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'quantity'
                                }"
                                data-ng-click="vm.order('quantity')">Quantity</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'active'
                                }"
                                data-ng-click="vm.order('active')">Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr class="gradeX" ng-repeat="product in vm.products.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage))">
                            <!--<td><input type="checkbox" id="checkbox1"></td>-->
                            <td>{{product.name}}</td>
                            <td>{{product.model}}</td>
                            <td class="center">{{ (product.price/100) | currency: $ }}</td>
                            <td>{{product.quantity}}</td>
                            <td>
                                <span class="btn btn-xs btn-primary" data-ng-show="product.active">Active</span>
                                <span class="btn btn-xs btn-danger" data-ng-hide="product.active">Inactive</span>
                            </td>
                            <td class="center">
                                <div style="position: relative">
                                    <button data-toggle="dropdown" class="btn btn-xs btn-gray dropdown-toggle" type="button">Action <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a ui-sref="index.products.view({productId: product.id})">View/Edit</a></li>
                                        <li><a  delete-item-button
                                                item="product"
                                                items="vm.products"
                                                item-type="product"
                                                item-name="product.name"
                                                item-callback="vm.delete"
                                                >Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div data-ng-show="vm.total > vm.itemsPerPage" class="text-right"><ul uib-pagination
                        total-items="vm.total"
                        ng-model="vm.currentPage"
                        items-per-page="vm.itemsPerPage"
                        class="pagination-sm"
                        boundary-links="true"
                        force-ellipses="true"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;"
                        last-text="&raquo;"
                            ></ul></div>
                </div>
            </div>

        </div>
    </div>
</div>