<part-page-header title="vm.title"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <form name="orderEdit" class="form-horizontal" notify-changes-unsaved wassaved="vm.dataWasSaved">

                        <div class="row" data-ng-show="vm.errors.length"><div class="col-md-8">
                            <div class="text-danger m-t-md m-b-md">{{vm.errors}}</div>
                        </div></div>

                        <div class="row"><div class="col-md-8">

                            <div class="form-group"><label class="col-sm-3 control-label">Customer</label>

                                <div class="col-sm-9" data-ng-if="!vm.addnew"><input type="text" class="form-control" data-ng-model="vm.order.clientName" disabled></div>
                                <div class="col-sm-9" data-ng-if="vm.addnew">
                                    <select ui-select2
                                         data-placeholder="Customer"
                                         data-ng-model="vm.order.clientId"
                                         id="clientSelect2"
                                         style="width: 100%;" name="client" required>
                                    <option value=""></option>
                                    <option data-ng-value="client.id" data-ng-repeat="client in vm.clients">{{client.firstName+' '+client.lastName}}</option>
                                </select>
                                </div>
                            </div>

                            <div class="form-group" data-ng-if="!vm.addnew"><label class="col-sm-3 control-label">Staff</label>
                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.order.staff" disabled></div>
                            </div>

                            <div class="form-group" data-ng-if="!vm.addnew"><label class="col-sm-3 control-label">Category</label>
                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.order.category" disabled></div>
                            </div>

                            <div class="form-group" data-ng-if="!vm.addnew"><label class="col-sm-3 control-label">Date</label>
                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-value="vm.order.appTimeStart | date:'MMM d, yyyy'" disabled></div>
                            </div>

                            <div class="form-group" data-ng-if="!vm.addnew"><label class="col-sm-3 control-label">Time</label>
                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-value="vm.order.appTimeStart | date:'h:mma'" disabled></div>
                            </div>

                        </div></div>

                        <div class="row border-top-and-marg">
                            <div class="col-sm-4 col-sm-push-8 text-right"><span data-ng-if="!vm.addnew" class="btn btn-large btn-primary m-t-sm" data-ng-class="{'btn-success':vm.order.status=='paid','btn-primary':vm.order.status=='created'}">{{vm.order.status}}</span></div>
                            <div class="col-md-8 col-sm-pull-4">

                                <table class="table table-striped table-hover dataTables-example" >
                                    <thead>
                                    <tr>
                                        <th>Service</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    <tr class="gradeX" ng-repeat="item in vm.order.items">
                                        <td><a ui-sref="index.services.view({serviceId: item.parent})">{{item.description? item.description:item.parent}}</a></td>
                                        <td><a ui-sref="index.services.view({serviceId: item.parent})">{{(vm.findServiceById(item.parent)).price/100}}</a></td>
                                        <td class="text-right"><button data-ng-if="vm.order.status == 'created' || vm.addnew" class="btn btn-white" type="button" data-ng-click="vm.removeItem($index)"><i class="fa fa-trash" /></button></td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>Sub Total</td>
                                        <td>{{vm.subTotal()/100}}</td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="gradeX" data-ng-if="vm.order.tip && vm.order.tip.amount">
                                        <td>Tips</td>
                                        <td>{{vm.order.tip.amount/100}}</td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><strong>Total</strong></td>
                                        <td>{{(vm.order.tip && vm.order.tip.amount)?(vm.order.tip.amount+vm.subTotal())/100:vm.subTotal()/100}}</td>
                                        <td class="text-right"></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div data-ng-show="vm.showTempItem">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <label>Service</label>
                                            <select ui-select2
                                                    data-placeholder="Service"
                                                    data-ng-model="vm.orderItem.service"
                                                    id="orderItemParent"
                                                    style="width: 100%;" name="service">
                                                <option value=""></option>
                                                <option data-ng-value="service" data-ng-repeat="service in vm.services">{{service.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Price</label>
                                            <input type="number" class="form-control" data-ng-value="vm.orderItem.service.price/100" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 text-right">
                                            <button class="btn btn-white" type="button" data-ng-click="vm.addToOrder()">Add to order</button><button class="btn btn-white" type="button" data-ng-click="vm.showTempItem = false;">Cancel</button>
                                        </div>
                                    </div>
                                </div>

                            <div class="form-group" data-ng-hide="vm.showTempItem" data-ng-if="vm.order.status == 'created' || vm.addnew">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-white" type="button" data-ng-click="vm.showTempItem = true;">Add service</button>
                                </div>
                            </div>



                        </div></div>

                        <div class="hr-line-dashed" data-ng-if="vm.order.status == 'created' || vm.addnew"></div>

                        <div class="row" data-ng-if="vm.order.status == 'created' || vm.addnew"><div class="col-md-8">

                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                                    <button class="btn btn-primary" type="button" data-ng-click="vm.save()" data-ng-disabled="orderEdit.$invalid || vm.order.items==0 || vm.saving">Save Changes <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                                </div>
                            </div>

                        </div></div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>