<part-page-header title="vm.title"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <form name="orderEdit" class="form-horizontal" notify-changes-unsaved wassaved="vm.dataWasSaved">

                        <div class="row" data-ng-show="vm.errors.length"><div class="col-md-8">
                            <div class="text-danger m-t-md m-b-md">{{vm.errors}}</div>
                        </div></div>

                        <div class="row"><div class="col-md-8">

                            <div class="form-group"><label class="col-sm-3 control-label">Customer</label>

                                <div class="col-sm-9" data-ng-if="!vm.addnew"><input type="text" class="form-control" data-ng-model="vm.order.clientName" disabled></div>
                                <div class="col-sm-9" data-ng-if="vm.addnew">
                                    <select ui-select2
                                            data-placeholder="Customer"
                                            data-ng-model="vm.order.clientId"
                                            id="clientSelect2"
                                            style="width: 100%;" name="client" required>
                                        <option value=""></option>
                                        <option data-ng-value="client.id" data-ng-repeat="client in vm.clients">{{client.firstName+' '+client.lastName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" data-ng-if="!vm.addnew"><label class="col-sm-3 control-label">Delivery Method</label>

                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.order.shipping.name" disabled></div>
                            </div>

                            <div class="form-group" data-ng-if="!vm.addnew"><label class="col-sm-3 control-label">Date</label>
                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-value="vm.order.created | date:'MMM d, yyyy'" disabled></div>
                            </div>

                            <div class="form-group" data-ng-if="!vm.addnew"><label class="col-sm-3 control-label">Time</label>
                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-value="vm.order.created | date:'h:mma'" disabled></div>
                            </div>

                        </div></div>

                        <div class="row border-top-and-marg">
                            <div class="col-sm-4 col-sm-push-8 text-right"><span data-ng-if="!vm.addnew" class="btn btn-large btn-primary m-t-sm" data-ng-class="{'btn-success':vm.order.status=='paid','btn-primary':vm.order.status=='created'}">{{vm.order.status}}</span></div>
                            <div class="col-md-8 col-sm-pull-4">

                                <table class="table table-striped table-hover dataTables-example" >
                                    <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr class="gradeX" ng-repeat="item in vm.order.items">
                                        <td><a  ui-sref="index.products.view({productId: item.parent})">{{item.description? item.description:item.parent}}</a></td>
                                        <td><input type="number" class="form-control" data-ng-model="item.quantity" required></td>
                                        <td><input type="number" class="form-control" data-ng-value="(vm.findProductById(item.parent)).price*item.quantity/100" required disabled></td>
                                        <td><button class="btn btn-white" type="button" data-ng-click="vm.removeItem($index)"><i class="fa fa-trash" /></button></td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>Sub Total</td>
                                        <td class="text-right"></td>
                                        <td>{{vm.subTotal()/100}}</td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="gradeX" data-ng-if="vm.order.tax && vm.order.tax.amount">
                                        <td>Tax</td>
                                        <td class="text-right"></td>
                                        <td>{{vm.order.tax.amount/100}}</td>
                                        <td class="text-right"></td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><strong>Total</strong></td>
                                        <td class="text-right"></td>
                                        <td>{{(vm.order.tip && vm.order.tip.amount)?(vm.order.tip.amount+vm.subTotal())/100:vm.subTotal()/100}}</td>
                                        <td class="text-right"></td>
                                    </tr>

                                    </tbody>
                                </table>

                                <div data-ng-show="vm.showTempItem">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label>Product</label>
                                            <select ui-select2
                                                    data-placeholder="Product"
                                                    data-ng-model="vm.orderItem.product"
                                                    id="orderItemParent"
                                                    style="width: 100%;" name="product">
                                                <option value=""></option>
                                                <option data-ng-value="product" data-ng-repeat="product in vm.products">{{product.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Quantity</label>
                                            <input type="number" class="form-control" data-ng-model="vm.orderItem.quantity" required>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Price</label>
                                            <input type="number" class="form-control" data-ng-value="vm.orderItem.product? vm.orderItem.quantity*vm.orderItem.product.price/100 : 0" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 text-right">
                                            <button class="btn btn-white" type="button" data-ng-click="vm.addToOrder()">Add to order</button><button class="btn btn-white" type="button" data-ng-click="vm.showTempItem = false;">Cancel</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" data-ng-hide="vm.showTempItem" data-ng-if="vm.order.status == 'created' || vm.addnew">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn btn-white" type="button" data-ng-click="vm.showTempItem = true;">Add product</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="hr-line-dashed" data-ng-if="vm.order.status == 'created' || vm.addnew"></div>

                        <div class="row" data-ng-if="vm.order.status == 'created' || vm.addnew"><div class="col-md-8">

                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                                    <button class="btn btn-primary" type="button" data-ng-click="vm.save()" data-ng-disabled="orderEdit.$invalid || vm.order.items.length==0 || vm.saving">Save Changes <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                                </div>
                            </div>

                        </div></div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>