<part-page-header title="'Schedule'" buttons="vm.buttons"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <!--<div class="ibox float-e-margins">-->
                <!--<div class="ibox-content">-->
                    <!--<form role="form">-->
                        <!--<div class="row">-->
                            <!--<div class="col-sm-8">-->

                                <!--<div class="form-group">-->
                                    <!--<label>Show Staff</label>-->
                                    <!--<select data-ng-model="vm.searchQuery.staff" data-ng-options="staff.id as staff.firstName+' '+staff.lastName for staff in vm.staff" class="form-control">-->
                                        <!--<option value="">All</option>-->
                                    <!--</select>-->
                                <!--</div>-->

                            <!--</div>-->
                            <!--<div class="col-sm-4 text-right"><div class="form-group">-->
                                <!--<div><label>&nbsp;</label></div>-->

                                <!--<button class="btn btn-info" type="button" data-ng-click="vm.reset()">Reset</button>-->
                                <!--<button class="btn btn-primary" type="submit" data-ng-click="vm.search()">Search</button>-->

                            <!--</div></div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->

            <div class="row">
                <div class="col-md-8 col-md-push-4">

                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="text-center p-lg" id="ScheduleCalendarWrapper">
                            <div id="ScheduleCalendar" ui-calendar="vm.uiConfig.calendar" calendar-watch-event="vm.extraEventSignature(event)" calendar="ScheduleCalendar"></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-md-pull-8">

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Staff Members</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link" data-ng-click="closePanel($event)">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content m-b-sm border-bottom">
                            <div class="row"><div class="col-md-12">
                                <span class="btn btn-white m-t-xs m-b-xs" data-ng-click="vm.reRenderEvents(vm.staff)" style="width: 100%; max-width: 400px;">Show ALL <i class="fa fa-spinner fa-spin" data-ng-show="vm.loading"></i></span>
                            </div></div>
                            <div class="row" data-ng-repeat="staff in vm.staff"><div class="col-md-12">
                                <span class="btn btn-primary m-t-xs m-b-xs" data-ng-click="vm.reRenderEvents([staff],$index)" style="width: 100%; max-width: 400px;" data-ng-style="{backgroundColor:vm.colors[$index], borderColor:vm.colors[$index]}">{{staff.firstName}} {{staff.lastName}}</span>
                            </div></div>
                        </div>
                    </div>

                    <div class="ibox float-e-margins" data-ng-show="vm.editing">
                        <div id="edit-event"></div>
                        <div class="ibox-title">
                            <h5>Event Details</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link" data-ng-click="closePanel($event)">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="ibox-content m-b-sm border-bottom"><form name="scheduleItemEdit" class="form-horizontal" notify-changes-unsaved wassaved="vm.dataWasSaved">

                            <div class="text-danger m-t-md m-b-md" data-ng-show="vm.errors.length">{{vm.errors}}</div>
                            <div class="text-warning m-t-md m-b-md" data-ng-show="vm.event.deleted==true"><strong>Warning!</strong> Service was deleted from DB!</div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="control-label">Client Name:</label>
                                </div>
                                <div class="col-lg-12" data-ng-hide="vm.event.clientName=='deleted'">
                                    {{vm.event.clientName}}
                                </div>
                                <div class="col-lg-12 text-warning" data-ng-show="vm.event.clientName=='deleted'">
                                    <strong>Warning!</strong> Client was deleted from DB!
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="control-label">Service Category</label>
                                    <select data-ng-model="vm.event.categoryId" data-ng-options="category.id as category.name for category in vm.servicesCategories" class="form-control" required>
                                        <option value="">Category</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="control-label">Services</label>
                                    <select name="services" data-ng-model="vm.event.serviceId" data-ng-options="service.id as service.name for service in vm.services | filter: vm.event.categoryId : categoryId" class="form-control" required>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="control-label">Staff Members</label>
                                    <select data-ng-model="vm.event.resourceId" data-ng-options="staff.id as staff.firstName+' '+staff.lastName for staff in vm.staff | filterByIdList : vm.categoryStaffList(vm.event.categoryId)" class="form-control" required>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="control-label">Start Time</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{'fullDate'}}" ng-model="vm.event.startDate" is-open="vm.popupDateTime.opened" datepicker-options="vm.popupDateTime.dateOptions" close-text="Close" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    </div>
                                    <div uib-timepicker ng-model="vm.event.startTime" hour-step="1" minute-step="10" show-meridian="ismeridian"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                                    <button class="btn btn-danger" type="button"
                                            delete-item-button
                                            item="vm.event"
                                            items="vm.schedule"
                                            item-type="timeslot"
                                            item-name="(vm.event.title+' for client '+vm.event.clientName+' on '+vm.shortDateTime(vm.event.start))"
                                            item-callback="vm.delete"
                                            >Delete</button>
                                    <button class="btn btn-primary" type="button" data-ng-click="vm.save()" data-ng-disabled="scheduleItemEdit.$invalid || vm.saving">Save Changes <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                                </div>
                            </div>

                        </form></div>
                    </div>

                    <div class="ibox float-e-margins" data-ng-show="vm.showingDetails">
                        <div id="show-event"></div>
                        <div class="ibox-title">
                            <h5>Event Details</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link" data-ng-click="closePanel($event)">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="ibox-content m-b-sm border-bottom clearfix">
                            <div class="text-warning m-t-md m-b-md" data-ng-show="vm.event.deleted==true"><strong>Warning!</strong> Service was deleted from DB!</div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="control-label">Client Name:</label>
                                </div>
                                <div class="col-lg-12" data-ng-hide="vm.event.clientName=='deleted'">
                                    {{vm.event.clientName}}
                                </div>
                                <div class="col-lg-12 text-warning" data-ng-show="vm.event.clientName=='deleted'">
                                    <strong>Warning!</strong> Client was deleted from DB!
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="control-label">Services Category:</label>
                                </div>
                                <div class="col-lg-12">
                                    {{vm.event.categoryName}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="control-label">Service:</label>
                                </div>
                                <div class="col-lg-12">
                                    {{vm.event.title}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="control-label">Staff:</label>
                                </div>
                                <div class="col-lg-12">
                                    {{vm.event.resourceName}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="control-label">Date/Time:</label>
                                </div>
                                <div class="col-lg-12">
                                    {{vm.event.startDate | date: 'EEEE, LLLL d, yyyy'}} {{vm.event.startTime | date: 'HH:mm'}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn btn-white" type="button" data-ng-click="vm.cancelDetails()">OK</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>