<part-page-header title="vm.title"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">

                <div class="ibox-content m-b-sm border-bottom"><form name="scheduleItemEdit" class="form-horizontal" notify-changes-unsaved wassaved="vm.dataWasSaved">

                    <div class="text-danger m-t-md m-b-md" data-ng-show="vm.errors.length">{{vm.errors}}</div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="control-label">Staff</label>
                            <select data-ng-model="vm.event.resourceId" data-ng-options="staff.id as staff.firstName+' '+staff.lastName for staff in vm.staff" class="form-control" required>
                                <option value="">Staff</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="control-label">Occurence</label>
                            <select data-ng-model="vm.event.period" data-ng-options="occurences.value as occurences.name for occurences in vm.occurences" class="form-control" required>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="vm.event.period=='daily'">
                        <div class="col-lg-12">
                            <label class="control-label">Repeats every:</label><br />
                            <select data-ng-model="vm.daily" data-ng-options="monthday.day as monthday.day for monthday in vm.monthly" class="form-control" required>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="vm.event.period=='weekly'">
                        <div class="col-lg-12">
                            <label class="control-label">Repeats on:</label>
                            <span class="m-r-xs m-l-xs" data-ng-repeat="weekday in vm.weekly"><input style="margin-top: 0 !important; vertical-align: middle" type="checkbox" data-ng-model="weekday.value"> <strong>{{weekday.name}}</strong></span>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="vm.event.period=='monthly'">
                        <div class="col-lg-12">
                            <label class="control-label">Repeats on:</label><br />
                            <span data-ng-repeat="monthday in vm.monthly"><span style="display: inline-block; width: 40px;"><input style="margin-top: 0 !important; vertical-align: middle" type="checkbox" data-ng-model="monthday.value"> <strong>{{monthday.day}}</strong></span><br data-ng-if="monthday.day%7==0" /></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="control-label">Start Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{'fullDate'}}" ng-model="vm.event.startDate" max="vm.maxStartDate" is-open="vm.popupDateTimeStart.opened" datepicker-options="vm.popupDateTimeStart.dateOptions" close-text="Close" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openDate(vm.popupDateTimeStart)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="control-label">End Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{'fullDate'}}" ng-model="vm.event.endDate" min="vm.minEndDate" is-open="vm.popupDateTimeEnd.opened" datepicker-options="vm.popupDateTimeEnd.dateOptions" close-text="Close" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openDate(vm.popupDateTimeEnd)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="control-label">Start Time</label>
                            <div uib-timepicker ng-model="vm.event.startTime" hour-step="1" minute-step="10" show-meridian="ismeridian"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="control-label">End Time</label>
                            <div uib-timepicker ng-model="vm.event.endTime" hour-step="1" minute-step="10" show-meridian="ismeridian"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                            <button class="btn btn-primary" type="button" data-ng-click="vm.save()" data-ng-disabled="scheduleItemEdit.$invalid || vm.saving">Save Changes <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                        </div>
                    </div>

                </form>
                </div>
            </div>

        </div>
    </div>
</div>