<ul class="nav metismenu">
    <li class="nav-header">
        <div class="dropdown profile-element"> <span>
                                <img alt="image" class="img-circle" src="assets/profile_small.png" />
                                 </span>
            <a data-toggle="dropdown" class="dropdown-toggle">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{vm.user.firstName}} {{vm.user.lastName}}</strong>
                                 </span> <span class="text-muted text-xs block">{{vm.user.roles[0]}} <b class="caret"></b></span> </span> </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li data-ng-if="$root.userRole=='admin'"><a ui-sref="index.profile.profile">Profile</a></li>
                <li data-ng-if="$root.userRole=='admin'" class="divider"></li>
                <li><a data-ng-click="vm.logout()">Logout</a></li>
            </ul>
        </div>
        <div class="logo-element">
            <img src="assets/SpeedSpa-Logo.png" />
        </div>
    </li>
</ul>