<part-page-header title="vm.title"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">

                <div class="ibox-content m-b-sm border-bottom"><form name="scheduleItemEdit" class="form-horizontal" notify-changes-unsaved wassaved="vm.dataWasSaved">

                    <div class="text-success m-t-md m-b-md" data-ng-show="vm.success.length">{{vm.success}}</div>

                    <div class="text-danger m-t-md m-b-md" data-ng-show="vm.errors.length">{{vm.errors}}</div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="control-label">Service Category</label>
                            <select data-ng-model="vm.event.categoryId" data-ng-options="category.id as category.name for category in vm.servicesCategories" class="form-control">
                                <option value="">Category</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="control-label">Main service</label>
                            <select ui-select2
                                    data-placeholder="Choose main service"
                                    data-ng-model="vm.event.serviceMain"
                                    id="serciceSelect"
                                    style="width: 100%;" name="sercice"
                                    data-ng-change="vm.onChooseMainService()" required>
                                <option value=""></option>
                                <option data-ng-value="service.id" data-ng-repeat="service in vm.services | orderBy:['categoryId','order'] | filter: true:topLevel | filter: vm.event.categoryId.length? vm.event.categoryId:undefined : categoryId">{{service.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="vm.event.serviceMain">
                        <div class="col-lg-12 text-center" style="padding-top: 17px; height: 60px;" data-ng-hide="vm.servicesAreReady">
                            <i class="fa fa-spinner fa-spin fa-2x"></i>
                        </div>
                        <div class="col-xs-11 col-xs-push-1" data-ng-show="vm.servicesAreReady">
                            <div style="height: 60px;" data-ng-show="vm.addOnsServices.length">
                                <label class="control-label">Add Ons Service</label>
                                <select data-ng-model="vm.event.serviceAddOn" data-ng-change="vm.onChooseAddOnService()" data-ng-options="service.id as service.name for service in vm.addOnsServices" class="form-control" data-ng-required="vm.requiredAddOns">
                                    <option value="">Choose add ons service</option>
                                </select>
                            </div>
                            <div data-ng-hide="vm.addOnsServices.length">
                                <label class="control-label">This service has no Add Ons Services</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="vm.event.serviceAddOn">
                        <div class="col-lg-12 text-center" style="padding-top: 17px; height: 60px;" data-ng-hide="vm.servicesOptionsAreReady">
                            <i class="fa fa-spinner fa-spin fa-2x"></i>
                        </div>
                        <div class="col-xs-10 col-xs-push-2" data-ng-show="vm.servicesOptionsAreReady">
                            <div style="height: 60px;" data-ng-show="vm.onOptionsServices.length">
                                <label class="control-label">Do you want also choose one of these?</label>
                                <select data-ng-model="vm.event.serviceOnOption" data-ng-options="service.id as service.name for service in vm.onOptionsServices" class="form-control">
                                    <option value="">Choose add ons service</option>
                                </select>
                            </div>
                            <div data-ng-hide="vm.onOptionsServices.length">
                                <label class="control-label">This service has no On Options Services</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" data-ng-show="vm.event.serviceMain">
                        <div class="col-lg-12 text-center" style="padding-top: 17px; height: 60px;" data-ng-hide="vm.servicesAreReady">
                            <i class="fa fa-spinner fa-spin fa-2x"></i>
                        </div>
                        <div class="col-xs-11 col-xs-push-1" data-ng-show="vm.servicesAreReady">
                            <div style="height: 60px;" data-ng-show="vm.processingServices.length">
                                <label class="control-label">You can add Processing Service if you want</label>
                                <select data-ng-model="vm.event.serviceProcessing" data-ng-options="service.id as service.name for service in vm.processingServices" class="form-control">
                                    <option value="">Choose processing service</option>
                                </select>
                            </div>
                            <div data-ng-hide="vm.processingServices.length">
                                <label class="control-label">This service has no Processing Services</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="control-label">Staff</label>
                            <select ui-select2
                                    data-placeholder="Staff"
                                    data-ng-model="vm.event.resourceId"
                                    id="staffSelect"
                                    style="width: 100%;" name="staff" required>
                                <option value=""></option>
                                <option data-ng-value="staff.id" data-ng-repeat="staff in vm.staff | filterByIdList : vm.categoryStaffList(vm.event.categoryId)">{{staff.firstName+' '+staff.lastName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="control-label">Client</label>
                            <select ui-select2
                                    data-placeholder="Client"
                                    data-ng-model="vm.event.clientId"
                                    id="clientSelect"
                                    style="width: 100%;" name="client" required>
                                <option value=""></option>
                                <option data-ng-value="client.id" data-ng-repeat="client in vm.clients">{{client.firstName+' '+client.lastName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="control-label">Appointment Time</label>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{'fullDate'}}" ng-model="vm.event.startDate" is-open="vm.popupDateTime.opened" datepicker-options="vm.popupDateTime.dateOptions" close-text="Close" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                            </div>
                            <div uib-timepicker ng-model="vm.event.startTime" hour-step="1" minute-step="10" show-meridian="ismeridian"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                            <button class="btn btn-primary" type="button" data-ng-click="vm.save()" data-ng-disabled="scheduleItemEdit.$invalid || vm.saving">Save Changes <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                        </div>
                    </div>

                </form>
                </div>
            </div>

        </div>
    </div>
</div>