<part-page-header title="vm.title"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <uib-tabset active="activePill" vertical="false" type="tabs">
                <uib-tab index="0" heading="Client Info" select="vm.setActiveTab($event, 0)">

                    <div class="ibox float-e-margins m-b-none">

                        <div class="ibox-content no-border">
                            <div class="m-t-md">

                                <form name="clientEdit" class="form-horizontal" notify-changes-unsaved wassaved="vm.dataWasSaved">

                                    <div class="row" data-ng-show="vm.errors.length"><div class="col-md-8">
                                        <div class="text-danger m-t-md m-b-md">{{vm.errors}}</div>
                                    </div></div>

                                    <div class="row"><div class="col-md-8">

                                        <div class="form-group"><label class="col-sm-3 control-label">First Name</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.client.firstName" required></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Last Name</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.client.lastName" required></div>
                                        </div>

                                        <div class="form-group" data-ng-if="vm.env"><label class="col-sm-3 control-label">Country Code</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.client.countryCode"></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Phone Number</label>

                                            <div class="col-sm-9">
                                                <input type="text"
                                                       class="form-control"
                                                       data-ng-model="vm.client.phoneNumber"
                                                       ui-mask="{{vm.phoneMask}}"
                                                       required>
                                            </div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Email</label>

                                            <div class="col-sm-9"><input type="email" class="form-control" data-ng-model="vm.client.email"></div>
                                        </div>

                                        <div class="form-group" data-ng-if="vm.addnew"><label class="col-sm-3 control-label">Password</label>

                                            <div class="col-sm-9"><input type="password" class="form-control" data-ng-model="vm.client.password"></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Status</label>

                                            <div class="col-sm-9"><select data-ng-model="vm.client.status" data-ng-options="status as status for status in vm.statuses" class="form-control">
                                                <option value="">Status</option>
                                            </select></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Gender</label>

                                            <div class="col-sm-9"><select data-ng-model="vm.client.gender" data-ng-options="gender.value as gender.text for gender in vm.gender" class="form-control">
                                                <option value="">Gender</option>
                                            </select></div>
                                        </div>

                                    </div></div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="row"><div class="col-md-8">

                                        <div class="form-group"><label class="col-sm-3 control-label">Street Adress 1</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.client.address.line1"></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Street Adress 2</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.client.address.line2"></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">City</label>

                                            <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.client.address.city"></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">State</label>

                                            <div class="col-sm-9"><select data-ng-model="vm.client.address.state" data-ng-options="state.full as state.full for state in vm.USstates" class="form-control">
                                                <option value="">-- Choose State</option>
                                            </select></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-3 control-label">Zip (postal code)</label>

                                            <div class="col-sm-9"><input type="string" ng-pattern="vm.onlyNumbers" class="form-control" data-ng-model="vm.client.address.postal_code"></div>
                                        </div>

                                    </div></div>

                                </form>
                            </div>

                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Notes" select="vm.setActiveTab($event, 1)">

                    <div class="ibox float-e-margins m-b-none">

                        <div class="ibox-content no-border">
                            <div class="m-t-md">

                                <div class="row"><div class="col-md-8">

                                    <div class="form-group"><label class="col-sm-3 control-label">Notes</label>

                                        <div class="col-sm-9"><textarea class="form-control" data-ng-model="vm.client.notes"></textarea></div>
                                    </div>

                                </div></div>

                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Payment Method" data-ng-if="!vm.addnew" select="vm.setActiveTab($event, 2)">

                    <div class="ibox float-e-margins">

                        <div class="ibox-content no-border">

                            <client-cards client-id="vm.client.id" cards="vm.cards"></client-cards>

                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>

            <div class="ibox float-e-margins" data-ng-hide="vm.activeTab == 2">

                <div class="ibox-content">

                    <div class="row"><div class="col-md-8">

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                                <button class="btn btn-primary" type="button" data-ng-click="vm.save()" data-ng-disabled="!(vm.checkData()) || vm.saving">Save Changes <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                            </div>
                        </div>

                    </div></div>

                </div>
            </div>

        </div>
    </div>
</div>