<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-6">
        <h2>{{vm.title}}</h2>
    </div>
    <div data-ng-if="$root.userRole=='admin' || vm.$state.includes('index.staffschedule')" class="col-sm-6">
        <div class="title-action" data-ng-show="vm.buttons.length">
            <a class="btn btn-sm btn-primary" data-ng-repeat="button in vm.buttons" data-ng-click="button.callback()">{{button.title}}</a>
        </div>
    </div>
    <div class="col-sm-12">
        <ui-breadcrumbs
                displayname-property="data.bcName"
                abstract-proxy-property="data.proxy">
        </ui-breadcrumbs>
    </div>
</div>