<part-page-header title="vm.title"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <form name="staffEdit" class="form-horizontal" notify-changes-unsaved wassaved="vm.dataWasSaved">

                        <div class="row" data-ng-show="vm.errors.length"><div class="col-md-8">
                            <div class="text-danger m-t-md m-b-md">{{vm.errors}}</div>
                        </div></div>

                        <div class="row"><div class="col-md-8">

                            <div class="form-group" data-ng-hide="vm.addAvatar">

                                <div class="col-sm-12">
                                    <div class="staffAvatar" data-ng-style="{'background-image': 'url('+vm.staff.avatar+')'}">
                                        <button class="btn btn-danger btn-remove-staffAvatar" type="button" data-ng-click="vm.addAvatar = true;">X</button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" data-ng-show="vm.addAvatar"><label class="col-sm-3 control-label">Add avatar</label>

                                <div class="col-sm-6">
                                    <input data-ng-disabled="vm.uploading" type="file" class="form-control" ng-model-instant id="fileToUpload" onchange="angular.element(this).scope().setFile(this)" /><i class="fa fa-spinner fa-spin spin-on-relative-out" data-ng-show="vm.uploading"></i>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">First Name</label>

                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.staff.firstName" required></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Last Name</label>

                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.staff.lastName" required></div>
                            </div>

                            <div class="form-group" data-ng-if="vm.env"><label class="col-sm-3 control-label">Country Code</label>

                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.staff.countryCode"></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Phone Number</label>

                                <div class="col-sm-9">
                                    <input type="text"
                                           class="form-control"
                                           data-ng-model="vm.staff.phoneNumber"
                                           ui-mask="{{vm.phoneMask}}"
                                           required>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Email</label>

                                <div class="col-sm-9"><input type="email" class="form-control" data-ng-model="vm.staff.email" required></div>
                            </div>

                            <div class="form-group" data-ng-if="vm.addnew"><label class="col-sm-3 control-label">Password</label>

                                <div class="col-sm-9"><input type="password" class="form-control" data-ng-model="vm.staff.password" required></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Gender</label>

                                <div class="col-sm-9"><select data-ng-model="vm.staff.gender" data-ng-options="gender.value as gender.text for gender in vm.gender" class="form-control" data-ng-required="vm.addnew">
                                    <option value="">Gender</option>
                                </select></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Role</label>

                                <div class="col-sm-9"><select data-ng-model="vm.role" class="form-control" required>
                                    <option value="">- - Choose Role - -</option>
                                    <option data-ng-value="vm.roleAdmin.value">{{vm.roleAdmin.text}}</option>
                                    <option data-ng-repeat="profileCategory in vm.servicesCategories" data-ng-value="profileCategory.id">{{profileCategory.description? profileCategory.description : 'Stylist - '+profileCategory.name}}</option>
                                </select></div>
                            </div>

                        </div></div>

                        <div class="hr-line-dashed"></div>

                        <div class="row"><div class="col-md-8">

                            <div class="form-group"><label class="col-sm-3 control-label">Street Adress 1</label>

                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.staff.address.line1" required></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Street Adress 2</label>

                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.staff.address.line2"></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">City</label>

                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.staff.address.city" required></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">State</label>

                                <div class="col-sm-9"><select data-ng-model="vm.staff.address.state" data-ng-options="state.full as state.full for state in vm.USstates" class="form-control" required>
                                    <option value="">-- Choose State</option>
                                </select></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Zip (postal code)</label>

                                <div class="col-sm-9"><input type="string" ng-pattern="vm.onlyNumbers" class="form-control" data-ng-model="vm.staff.address.postal_code" required></div>
                            </div>

                        </div></div>

                        <div class="hr-line-dashed"></div>

                        <div class="row"><div class="col-md-8">

                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                                    <button class="btn btn-primary" type="button" data-ng-click="vm.save()" data-ng-disabled="staffEdit.$invalid || vm.saving">Save Changes <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                                </div>
                            </div>

                        </div></div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>