<part-page-header title="'Categories'" buttons="vm.buttons"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <table class="table table-striped table-hover dataTables-example" >
                        <thead>
                        <tr>
                            <!--<th><input type="checkbox" id="checkbox1"></th>-->
                            <th>Category Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr class="gradeX" ng-repeat="category in vm.plainCategories.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage))">
                            <!--<td><input type="checkbox" id="checkbox1"></td>-->
                            <td>{{category.name}}</td>
                            <td class="center">
                                <div style="position: relative">
                                    <button data-toggle="dropdown" class="btn btn-xs btn-gray dropdown-toggle" type="button">Action <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a ui-sref="index.products.categories.view({categoryId: category.id})">View/Edit</a></li>
                                        <li><a delete-item-button
                                               item="category"
                                               items="vm.plainCategories"
                                               item-type="category"
                                               item-name="category.name"
                                               item-callback="vm.delete"
                                        >Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div data-ng-show="vm.total > vm.itemsPerPage" class="text-right"><ul uib-pagination
                        total-items="vm.total"
                        ng-model="vm.currentPage"
                        items-per-page="vm.itemsPerPage"
                        class="pagination-sm"
                        boundary-links="true"
                        force-ellipses="true"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;"
                        last-text="&raquo;"
                    ></ul></div>

                    <div class="text-right"><dir-pagination-controls boundary-links="true" direction-links="true"></dir-pagination-controls></div>
                </div>
            </div>

        </div>
    </div>
</div>