<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Delete <span style="text-transform: capitalize">{{itemType}}</span></h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row"><div class="col-md-8">

        Are you sure you want to delete {{itemType}} {{itemName}}?

    </div></div>

    <div class="row" data-ng-show="vm.errors.length"><div class="col-md-8">
        <div class="text-danger m-t-md m-b-md">{{vm.errors}}</div>
    </div></div>

</div>
<div class="modal-footer">
    <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-danger" type="button" data-ng-click="vm.delete(product)" data-ng-disabled="vm.deleting">Delete <i class="fa fa-spinner fa-spin" data-ng-show="vm.deleting"></i></button>
</div>