<div class="modal-header">
    <h3 class="modal-title" id="modal-title">You have usaved changes!</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row"><div class="col-md-8">

        Are you sure you want to leave the page?

    </div></div>
</div>
<div class="modal-footer">
    <button class="btn btn-white" type="button" data-ng-click="vm.stay()">Stay</button>
    <button class="btn btn-danger" type="button" data-ng-click="vm.leave()">Leave</button>
</div>