<part-page-header title="'Clients'" buttons="vm.buttons"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" role="form">

                        <div class="row" data-ng-show="vm.success.length"><div class="col-md-8">
                            <div class="text-success m-t-md m-b-md">{{vm.success}}</div>
                        </div></div>

                        <div class="row" data-ng-show="vm.errors.length"><div class="col-md-8">
                            <div class="text-danger m-t-md m-b-md">{{vm.errors}}</div>
                        </div></div>

                        <div class="form-group">
                            <label class="col-md-2 col-sm-3 col-xs-4 control-label">Title:</label>
                            <div class="col-md-4 col-sm-5 col-xs-8">

                                <input type="text" placeholder="Title Here"
                                       class="form-control"
                                       data-ng-model="vm.message.title"
                                       required>

                            </div>
                        </div>
                        <div class="form-group m-t-sm">
                            <label class="col-md-2 col-sm-3 col-xs-4 control-label">Message:</label>
                            <div class="col-md-6 col-sm-7 col-xs-8">

                                <textarea class="form-control txtbig" placeholder="Write message here"
                                       data-ng-model="vm.message.message"
                                       required></textarea>
                                <p>Your message will be sent to all Speed Spa customers.</p>

                            </div>
                        </div>
                        <div class="form-group m-t-lg"><div class="col-sm-12 text-right">

                            <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                            <button class="btn btn-primary" type="submit" data-ng-click="vm.add()">Send Message</button>

                        </div></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>