<part-page-header title="'Profile'"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

                    <uib-tabset active="activePill" vertical="false" type="tabs">
                        <uib-tab index="0" heading="Edit Your Info">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content no-border">

                                    <form name="staffEdit" class="form-horizontal" notify-changes-unsaved wassaved="vm.dataWasSaved">

                                        <div class="row" data-ng-show="vm.success.length"><div class="col-md-8">
                                            <div class="text-success m-t-md m-b-md">{{vm.success}}</div>
                                        </div></div>

                                        <div class="row" data-ng-show="vm.errors.length"><div class="col-md-8">
                                            <div class="text-danger m-t-md m-b-md">{{vm.errors}}</div>
                                        </div></div>

                                        <div class="row"><div class="col-md-8">

                                            <div class="form-group"><label class="col-sm-3 control-label">First Name</label>

                                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.profile.firstName" required></div>
                                            </div>

                                            <div class="form-group"><label class="col-sm-3 control-label">Last Name</label>

                                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.profile.lastName" required></div>
                                            </div>

                                            <div class="form-group" data-ng-if="vm.env"><label class="col-sm-3 control-label">Country Code</label>

                                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.profile.countryCode"></div>
                                            </div>

                                            <div class="form-group"><label class="col-sm-3 control-label">Phone Number</label>

                                                <div class="col-sm-9">
                                                    <input type="text"
                                                           class="form-control"
                                                           data-ng-model="vm.profile.phoneNumber"
                                                           ui-mask="{{vm.phoneMask}}"
                                                           required>
                                                </div>
                                            </div>

                                            <div class="form-group"><label class="col-sm-3 control-label">Email</label>

                                                <div class="col-sm-9"><input type="email" class="form-control" data-ng-model="vm.profile.email" required></div>
                                            </div>

                                            <div class="form-group"><label class="col-sm-3 control-label">Gender</label>

                                                <div class="col-sm-9"><select data-ng-model="vm.profile.gender" data-ng-options="gender.value as gender.text for gender in vm.gender" class="form-control">
                                                    <option value="">Gender</option>
                                                </select></div>
                                            </div>

                                        </div></div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="row"><div class="col-md-8">

                                            <div class="form-group"><label class="col-sm-3 control-label">Street Adress 1</label>

                                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.profile.address.line1" required></div>
                                            </div>

                                            <div class="form-group"><label class="col-sm-3 control-label">Street Adress 2</label>

                                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.profile.address.line2"></div>
                                            </div>

                                            <div class="form-group"><label class="col-sm-3 control-label">City</label>

                                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.profile.address.city" required></div>
                                            </div>

                                            <div class="form-group"><label class="col-sm-3 control-label">State</label>

                                                <div class="col-sm-9"><select data-ng-model="vm.profile.address.state" data-ng-options="state.full as state.full for state in vm.USstates" class="form-control" required>
                                                </select></div>
                                            </div>

                                            <div class="form-group"><label class="col-sm-3 control-label">Zip</label>

                                                <div class="col-sm-9"><input type="string" ng-pattern="vm.onlyNumbers" class="form-control" data-ng-model="vm.profile.address.postal_code" required></div>
                                            </div>

                                        </div></div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="row"><div class="col-md-8">

                                            <div class="form-group">
                                                <div class="col-sm-9 col-sm-offset-3">
                                                    <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                                                    <button class="btn btn-primary" type="button" data-ng-click="vm.save()" data-ng-disabled="staffEdit.$invalid || vm.saving">Save Changes <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                                                </div>
                                            </div>

                                        </div></div>

                                    </form>

                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab index="1" heading="Change Password">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content no-border">
                                    <form name="staffEdit" class="form-horizontal" notify-changes-unsaved wassaved="vm.dataWasSaved">

                                        <div class="row" data-ng-show="vm.successPass.length"><div class="col-md-8">
                                            <div class="text-success m-t-md m-b-md">{{vm.successPass}}</div>
                                        </div></div>

                                        <div class="row" data-ng-show="vm.errorsPass.length"><div class="col-md-8">
                                            <div class="text-danger m-t-md m-b-md">{{vm.errorsPass}}</div>
                                        </div></div>

                                        <div class="form-group"><label class="col-sm-5 control-label">Type New Password</label>

                                            <div class="col-sm-7"><input type="password" class="form-control" data-ng-model="vm.password" required></div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-5 control-label">Please Repeat</label>

                                            <div class="col-sm-7"><input type="password" class="form-control" data-ng-model="vm.passwordRep" required></div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="row"><div class="col-md-8">

                                            <div class="form-group">
                                                <div class="col-sm-9 col-sm-offset-3">
                                                    <button class="btn btn-primary" type="button" data-ng-click="vm.newPass()" data-ng-disabled="vm.password.length==0 || vm.passwordRep.length==0 || (vm.password != vm.passwordRep) || vm.savingPass">Save Changes <i class="fa fa-spinner fa-spin" data-ng-show="vm.savingPass"></i></button>
                                                </div>
                                            </div>

                                        </div></div>

                                    </form>
                                </div>
                            </div>
                        </uib-tab>

                    </uib-tabset>
                </div>
            </div>

        </div>
    </div>
</div>