<part-page-header title="vm.title"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <form name="categoryEdit" class="form-horizontal" notify-changes-unsaved wassaved="vm.dataWasSaved">

                        <div class="row" data-ng-show="vm.errors.length"><div class="col-md-8">
                            <div class="text-danger m-t-md m-b-md">{{vm.errors}}</div>
                        </div></div>

                        <div class="row"><div class="col-md-8">

                            <div class="form-group"><label class="col-sm-3 control-label">Name</label>

                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.category.name" required></div>
                            </div>
                            <div class="form-group"><label class="col-sm-3 control-label">Specialist Name</label>

                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.category.description" required></div>
                            </div>
                            <div class="form-group"><label class="col-sm-3 control-label">Seats</label>

                                <div class="col-sm-9"><input type="number" class="form-control" data-ng-model="vm.category.seats" required></div>
                            </div>

                        </div></div>

                        <div class="hr-line-dashed"></div>

                        <div class="row"><div class="col-md-8">

                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                                    <button class="btn btn-primary" type="button" data-ng-click="vm.save()" data-ng-disabled="categoryEdit.$invalid || vm.saving">Save Changes <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                                </div>
                            </div>

                        </div></div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>