<part-page-header title="'Dashboard'"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content m-b-sm border-bottom">
                <div class="text-center p-lg">
                    <h2>If you don't find the answer to your question</h2>
                    <span>add your question by selecting </span>
                    <p>
                        It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout. The point of
                        using Lorem Ipsum is that it has a more-or-less normal distribution of
                        letters, as opposed to using 'Content here, content here', making it
                        look like readable English.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>