<part-page-header title="vm.title"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <form name="serviceEdit" class="form-horizontal" notify-changes-unsaved wassaved="vm.dataWasSaved">

                        <div class="row" data-ng-show="vm.errors.length"><div class="col-md-8">
                            <div class="text-danger m-t-md m-b-md">{{vm.errors}}</div>
                        </div></div>

                        <div class="row"><div class="col-md-8">

                            <div class="form-group"><label class="col-sm-3 control-label">Name</label>

                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.service.name" required></div>
                            </div>

                            <div class="form-group" data-ng-repeat="time in vm.service.duration"><label class="col-sm-3 control-label"><span style="text-transform: capitalize">{{time.type}}</span> Time</label>

                                <div class="col-sm-9">
                                    <input type="number" class="form-control" data-ng-model="time.time" data-ng-min="$index==0? 1:0">
                                    <span class="help-block m-b-none"><span data-ng-if="$index==2">After {{vm.service.duration[$index-1].type}} time. </span><span data-ng-if="$index>0">Not required. </span>All time are in minutes.</span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Price (min 0.2)</label>

                                <div class="col-sm-9"><input type="number" class="form-control" data-ng-model="vm.service.price" data-ng-min="0" required></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Display Price</label>

                                <div class="col-sm-9"><input type="text" class="form-control" data-ng-model="vm.service.displayPrice"></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Priority (0 is the lowest)</label>

                                <div class="col-sm-9"><input type="number" class="form-control" data-ng-model="vm.service.priority" data-ng-min="0" required></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Sort order (min 0)</label>

                                <div class="col-sm-9"><input type="number" class="form-control" data-ng-model="vm.service.order" data-ng-min="0" required></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">Top level service</label>

                                <div class="col-sm-9"><div class="m-t-xs"><input type="checkbox" class="m-t-sm" data-ng-model="vm.service.topLevel"></div></div>
                            </div>

                            <div class="form-group"><label class="col-sm-3 control-label">AddOns are required</label>

                                <div class="col-sm-9"><div class="m-t-xs"><input type="checkbox" data-ng-model="vm.service.requiredAddOns"></div></div>
                            </div>

                        </div></div>

                        <div class="hr-line-dashed"></div>

                        <div class="row"><div class="col-md-8">

                            <div class="form-group"><label class="col-sm-3 control-label">Category</label>

                                <div class="col-sm-9"><select data-ng-model="vm.service.categoryId" data-ng-options="category.id as category.name for category in vm.categories" class="form-control" required>
                                    <option value="">Category</option>
                                </select></div>
                            </div>

                        </div></div>

                        <div class="row"><div class="col-md-12">

                            <div class="form-group"><label class="col-md-2 control-label">Linked Services</label>

                                <div class="col-md-10">
                                    <div class="m-t-sm" data-ng-repeat="linkedService in vm.linkedServices">
                                        <div class="row">
                                            <div class="col-sm-5 col-xs-4"><select data-ng-model="linkedService.type" class="form-control">
                                                <option value="addOns">Select Add On Option</option>
                                                <option value="during">Select Processing Time Option</option>
                                            </select></div>
                                            <div class="col-sm-5 col-xs-5"><select data-ng-model="linkedService.serviceId" data-ng-options="service.id as service.name for service in vm.services" class="form-control">
                                                <option value="">-- Select Service --</option>
                                            </select></div>
                                            <div class="col-sm-2 col-xs-3">
                                                <button data-ng-hide="$first" class="btn btn-sm btn-danger" type="button" data-ng-click="vm.deleteLinkedService($index)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                                <button class="btn btn-sm btn-primary" type="button" data-ng-click="vm.addLinkedService($index)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                        <div class="row m-t-sm" data-ng-show="linkedService.type == 'addOns'" data-ng-repeat="linkedServiceOnOption in linkedService.servicesIds">
                                            <label class="col-sm-4 col-xs-3 col-xs-push-1 control-label"><span data-ng-show="$first">Add Ons:</span></label>
                                            <div class="col-sm-5 col-xs-5 col-xs-push-1"><select data-ng-model="linkedServiceOnOption.serviceId" class="form-control">
                                                <option value="">-- Select Service --</option>
                                                <option data-ng-value="service.id" data-ng-repeat="service in vm.services">{{service.name}}</option>
                                            </select></div>
                                            <div class="col-sm-2 col-xs-3 col-xs-push-1">
                                                <button data-ng-hide="$first" class="btn btn-xs btn-danger" type="button" data-ng-click="vm.deleteLinkedOnOptionService($index,linkedService.servicesIds)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                                <button class="btn btn-xs btn-primary" type="button" data-ng-click="vm.addLinkedOnOptionService($index,linkedService.servicesIds)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div></div>

                        <div class="hr-line-dashed"></div>

                        <div class="row"><div class="col-md-8">

                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button class="btn btn-white" type="button" data-ng-click="vm.cancel()">Cancel</button>
                                    <button class="btn btn-primary" type="button" data-ng-click="vm.save()" data-ng-disabled="serviceEdit.$invalid || vm.saving">Save Changes <i class="fa fa-spinner fa-spin" data-ng-show="vm.saving"></i></button>
                                </div>
                            </div>

                        </div></div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>