<part-page-header title="'Staff'" buttons="vm.buttons"></part-page-header>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form role="form">
                        <div class="row">
                            <div class="col-md-5 col-sm-8">

                                <div class="form-group">
                                    <label>Search</label>
                                    <input type="text"
                                           placeholder="Search by name"
                                           class="form-control"
                                            data-ng-model="vm.searchQuery.text">
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-4">

                                <div class="form-group">
                                    <label>Role</label>
                                    <select data-ng-model="vm.searchQuery.role" data-ng-options="role.value as role.text for role in vm.roles" class="form-control" name="account">
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-12 text-right"><div class="form-group">
                                <div><label>&nbsp;</label></div>

                                <button class="btn btn-info" type="button" data-ng-click="vm.reset()">Reset</button>
                                <button class="btn btn-primary" type="submit" data-ng-click="vm.search()">Search</button>

                            </div></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="ibox float-e-margins">

                <!--<div class="ibox-content">-->
                    <!--<form role="form" class="form-inline">-->

                        <!--<div class="form-group">-->
                            <!--<select id="exampleInputPassword2" class="form-control" name="account">-->
                                <!--<option>option 1</option>-->
                                <!--<option>option 2</option>-->
                                <!--<option>option 3</option>-->
                                <!--<option>option 4</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<button class="btn btn-gray" type="submit">Apply</button>-->

                    <!--</form>-->
                <!--</div>-->

                <div class="ibox-content">

                    <table class="table table-striped table-hover dataTables-example" >
                        <thead>
                        <tr>
                            <!--<th><input type="checkbox" id="checkbox1"></th>-->
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'name'
                                }"
                                data-ng-click="vm.order('name')">Staff</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'email'
                                }"
                                data-ng-click="vm.order('email')">Email</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'roleName'
                                }"
                                data-ng-click="vm.order('roleName')">Role</th>
                            <th data-ng-class="{
                                    'sorting_desc': vm.orderby.desc,
                                    'sorting_asc': !vm.orderby.desc,
                                    'sorting': vm.orderby.field != 'createdAt'
                                }"
                                data-ng-click="vm.order('createdAt')">Date Added</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr class="gradeX" ng-repeat="staff in vm.staff.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage))">
                            <!--<td><input type="checkbox" id="checkbox1"></td>-->
                            <td>{{staff.firstName}} {{staff.lastName}}</td>
                            <td>{{staff.email}}</td>
                            <td class="center" style="text-transform: capitalize;">{{staff.roleName}}</td>
                            <td>{{staff.createdAt | date: 'MMM d, y'}}</td>
                            <td class="center">
                                <div style="position: relative">
                                    <button data-toggle="dropdown" class="btn btn-xs btn-gray dropdown-toggle" type="button">Action <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a ui-sref="index.staff.view({staffId: staff.id})">View/Edit</a></li>
                                        <li><a delete-item-button
                                               item="staff"
                                               items="vm.staff"
                                               item-type="staff"
                                               item-name="(staff.firstName+' '+staff.lastName)"
                                               item-callback="vm.delete"
                                        >Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div data-ng-show="vm.total > vm.itemsPerPage" class="text-right"><ul uib-pagination
                        total-items="vm.total"
                        ng-model="vm.currentPage"
                        items-per-page="vm.itemsPerPage"
                        class="pagination-sm"
                        boundary-links="true"
                        force-ellipses="true"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;"
                        last-text="&raquo;"
                    ></ul></div>
                </div>
            </div>

        </div>
    </div>
</div>