    <div id="wrapper">
      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

          <part-profile></part-profile>

          <part-nav sometext="'some text'"></part-nav>

        </div>
      </nav>

        <div id="page-wrapper" class="gray-bg">

            <part-header></part-header>

            <div id="loadingSpinner" data-ng-show="loading">
                <i class="fa fa-spinner fa-spin fa-5x"></i>
            </div>

            <div id="page-content" data-ng-hide="loading"><div data-ui-view></div></div>

        </div>
    </div>
