<ul class="nav metismenu" id="side-menu">
    <!--<li data-ng-class="{active:vm.$state.includes('index.dashboard')}">-->
        <!--<a ui-sref="index.dashboard"><span class="nav-label">Dashboards</span></a>-->
    <!--</li>-->
    <li data-ng-show="$root.userRole=='admin'" data-ng-class="{active:vm.$state.includes('index.clients')}">
        <a ui-sref="index.clients.clients"><span class="nav-label">Clients</span></a>
    </li>
    <li data-ng-show="$root.userRole=='admin'" data-ng-class="{active:vm.$state.includes('index.staff')}">
        <a ui-sref="index.staff.staff"><span class="nav-label">Staff</span></a>
    </li>
    <li data-ng-class="{active:vm.$state.includes('index.schedule')}">
        <a ui-sref="index.schedule.schedule"><span class="nav-label">Schedule</span></a>
    </li>
    <li data-ng-class="{active:vm.$state.includes('index.staffschedule')}">
        <a ui-sref="index.staffschedule.staffschedule"><span class="nav-label">Staff Schedule</span></a>
    </li>
    <li data-ng-show="$root.userRole=='admin'" data-ng-class="{active:vm.$state.includes('index.products'), slideddown:vm.$state.includes('index.products')}">
        <a class="nav-second-level-label"><span class="nav-label">Products</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level" data-ng-class="{collapse:!(vm.$state.includes('index.products'))}">
            <li><a ui-sref="index.products.products"><span class="nav-label">Products</span></a></li>
            <li><a ui-sref="index.products.orders.all"><span class="nav-label">Orders</span></a></li>
            <li><a ui-sref="index.products.categories.all"><span class="nav-label">Categories</span></a></li>
        </ul>
    </li>
    <li data-ng-show="$root.userRole=='admin'" data-ng-class="{active:vm.$state.includes('index.services'), slideddown:vm.$state.includes('index.services')}">
        <a class="nav-second-level-label"><span class="nav-label">Services</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level" data-ng-class="{collapse:!(vm.$state.includes('index.services'))}">
            <li><a ui-sref="index.services.services"><span class="nav-label">Services</span></a></li>
            <!--<li><a ui-sref="index.services.orders.all"><span class="nav-label">Orders</span></a></li>-->
            <li><a ui-sref="index.services.categories.all"><span class="nav-label">Categories</span></a></li>
        </ul>
    </li>
    <li data-ng-show="$root.userRole=='admin'" data-ng-class="{active:vm.$state.includes('index.messages')}">
        <a ui-sref="index.messages.messages"><span class="nav-label">Messages</span></a>
    </li>
</ul>